
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

/* pluse button for adding new user bottom right */

.box{
    position: fixed;
    bottom: 10px;
    right: 20px;
    margin-bottom: 30px;
}

.dropdowns{display:inline-block}
